<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <!-- Provisioning Profile -->
                <dict>
                    <key>kind</key>
                    <string>provisioning-profile</string>
                    <key>url</key>
                    <string>https://demnaylive-eta.vercel.app/demnaylive.mobileprovision</string>
                </dict>

                <!-- Certificate -->
                <dict>
                    <key>kind</key>
                    <string>certificate</string>
                    <key>url</key>
                    <string>https://demnaylive-eta.vercel.app/demnaylive.cer</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://demnaylive-eta.vercel.app/ios.ipa</string>
                </dict>
                <!-- App Icon -->
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://demnaylive-eta.vercel.app/1024.png</string>
                </dict>
                <!-- Retina App Icon -->
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>https://demnaylive-eta.vercel.app/1024.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>app.demnaylive.demnaylive</string>
                <key>bundle-version</key>
                <string>1.1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>DemnayLive</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
